* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(217da299cc918fad9b76eb99e4bb75b3.gif);
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;

}
nav {
    flex: 1;
    text-align: right;
}
.ul i{
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    position: relative;
}
nav ul li .active, nav ul li :hover{
    background: linear-gradient(#FFF59D, #DCE775, #8BC34A, #388E3C);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    font-weight: bold;
}

.navbar ul li::after 
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
h3{
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 15px #388E3C;
    font-family: 'poppins';
    cursor: pointer;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
h4 {
    font-size: 40px;
    color: #388E3C;
    text-shadow: 0 0 15px #009688;
    font-family: 'poppins';
    cursor: pointer;
    padding-right: 10px
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.video-container {
    width: 100%;
    height: 50%;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 18px auto;
    position: relative;  
}
.video-container p{
    color: #388E3C;
    text-align: center;
}
video {
    width: 1000px;
    height: auto;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid #388E3C;
}

footer{
position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
     animation: fadeInUp 0.5s ease-in-out;
}

@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px); 
    }
     100%{
        opacity: 1;
        transform: translateY(0); 
    }
}
@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100px); 
    }
     100%{
        opacity: 1;
        transform: translateX(0); 
    }
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
        visibility: hidden;
    }
     100%{
        opacity: 1;
        transform: translateX(0); 
         visibility: visible;
 }
}

@keyframes slideBottom{
    0%{
        opacity: 0;
        transform: translateY(-100px); 
    }
     100%{
        opacity: 1;
        transform: translateY(0); 
    }
}
@keyframes zoomIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



